body {
	padding-top: 20px;
	background:#f3f3f3;
}

.user-panel {
	padding:10px;
	background-color:white;
}

.user-panel-photo {
	text-align: center;
	padding: 0 10px;
	margin: 20px 0;
}

.user-panel-photo-img{
	max-height:200px;
}


/* CARDS */
.card{
	color: #333;
	box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, .20);
	padding: 19px;
	margin-bottom: 20px;
	height:200px;
	overflow:hidden;
	position:relative;
}

@media (max-width: 767px) {
	.post-card{
		height:auto;
	}

	.new-post-card{
		height:auto;
	}
}

.post-card{
	background: #ffffff;
	cursor:pointer;
	-webkit-animation-duration: 0.2s;
	-webkit-animation-timing-function: linear;
	-webkit-animation-iteration-count: 1;	
}

.post-card-content{
	
}

.load-more-card{
	background: #08c;
	color: white;
	text-align: center;
	cursor:pointer;
}

.single-card{
	background:#fff;
	height:auto;
}

.new-post-card{
	background: #ffffff;
}

.user-card{
	background: #ffffff;
}
/* END: CARDS */

.new-post-input{
	background: #ffffff;
	color: #333;
	box-shadow: none;
	margin:0;
	overflow: hidden;
	border: 0px;
	resize: none;
	padding: 0;
	width: 100%;
	height: 100%;
	float: left;
	border-radius: 0;
}

.new-post-input:focus{
	outline: none;
	box-shadow: none;
	-webkit-box-shadow:none;
	border:0;
}

/*SEARCH*/
.search-input{

}

.brand {
	margin:0;
	padding: 0;
	font-style: italic;
	color: rgb(214, 214, 214);
	text-shadow: 1px 1px rgb(162, 162, 162);
	position:relative;

	cursor:pointer;
	line-height: 100%;
}

.brand-bar{
	position: relative;
}

.post-fade-img {
	position:absolute;
	top:0;
	left:0;
	width:100%;
}

/*VIEWERS*/
.viewer-images{
	width:100%;
}

.viewer-container{
	width:100%;
	margin-top:50px;
}

.viewer-seen-by{
	color: rgb(214, 214, 214);
}

.viewer-img {
	margin:0;
	width:5%;
	float:left;
	opacity:0.2;
	-webkit-transition: all 300ms 0ms;
	-webkit-transition-delay: ease-in;
	-moz-transition: all 300ms 0ms ease-in;
	-o-transition: all 300ms 0ms ease-in;
	transition: all 300ms 0ms ease-in;	
}

.viewer-img:hover{
	opacity:1;
}
/*END:VIEWERS*/


/*CHAT*/
.chat-feed{
	background-color:white;
}

.chat-row{
	width:100%;
	border-bottom-color: rgb(243, 243, 243);
	border-bottom-width: 1px;
	border-bottom-style: solid;
	padding:3px 0;
}

.chat-row-right{
	text-align:right;
}

.chat-user-img{
	width:20px;
	height:20px;
	float:left;
	margin-right:5px;
}
/*END:CHAT*/

.user-link{
	color: rgba(78, 153, 96, 1);
	font-weight:bold;
	cursor:pointer;
}

.user-link-flyout{
	position:absolute;
	background-color:#f3f3f3;
	box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, .20);
	top:0;
	left:0;
	margin: 12px;
	padding: 7px;
	-webkit-transition: all 300ms 0ms;
	-webkit-transition-delay: ease-in;
	-moz-transition: all 300ms 0ms ease-in;
	-o-transition: all 300ms 0ms ease-in;
	transition: all 300ms 0ms ease-in;		
}

.user-link-follow{
	margin: 10px;
	display:block;
}

.user-link-unfollow{
	margin: 10px;
	display:block;
}

.divider{
	width:100%;
	height:1px;
	background-color: rgb(243, 243, 243);
	margin:0;
	padding:0;
}

.invisible{
	display:none;
	opacity:0;
}

.icon-arrow-left{
	float:right;
	margin:5px;
}

.passive-aggressive{
	color: rgb(214, 214, 214);
	font-style:italic;
	text-align:center;
}

.post-flip{
	bottom:0;
	right:0;
	position:absolute;
}

#refresh-vector{
	-webkit-transform-origin: center;
	/*-webkit-animation-name: refresh-rotate;*/
	-webkit-animation-duration: 2s;
	-webkit-animation-timing-function: linear;
	-webkit-animation-iteration-count: 1;	
}




/*Animations*/
@-webkit-keyframes refresh-rotate
{
	from {-webkit-transform: rotate(0deg);}
	to {-webkit-transform: rotate(360deg);}
}

/*Animations*/
@-webkit-keyframes card-flip-out
{
	from {
		-webkit-transform: rotateY(0deg);
	}
	to {
		-webkit-transform: rotateY(90deg);
	}
}

@-webkit-keyframes card-flip-in
{
	from {
		-webkit-transform: rotateY(-90deg);
	}
	to {
		-webkit-transform: rotateY(0deg);
	}
}