<template name="postCard">
    <div class="card post-card">
    	<div class="post-front">
    		<!--div class="post-image-fade"></div-->
    		<span class="card-action-bar">
    			{{#if recentActivityLevel}}
    				<img src="{{recentActivityLevel}}"></img>
    			{{/if}}
    		</span>
	        <p class="post-card-content">{{> userLink user}} {{message}}</p>
	    </div>
	    <div class="post-back invisible">
	    	Some extra content from the post goes here
	    </div>
	    <a class="post-flip"><img src="/img/page-curl.png"/></a>
    </div>
</template>