<template name="timeline">
    {{> cardGrid options}}
</template>

<template name="followers">
    {{> cardGrid options}}
</template>

<template name="following">
    {{> cardGrid options}}
</template>

<template name="userPosts">
    {{> cardGrid options}}
</template>

<template name="userSearch">
    {{> cardGrid options}}
</template>

<template name="cardGrid">
    <div class="row-fluid">
    	{{#each rows}}
    		<div class="row-fluid">
    			{{#if showCompose}}
    				{{> newPostCard}}
    			{{/if}}
	    		{{#each cells}}
                    {{#if usesTemplate 'postCard'}}
                        {{> postCard}}
                    {{/if}}

                    {{#if usesTemplate 'userCard'}}
                        {{> userCard}}
                    {{/if}}                    
	    		{{/each}}

                {{#if showLoadMore rowLast}}
                    {{> loadMoreCard}}
                {{/if}}
	    	</div>
    	{{/each}}
    </div>
</template>