<template name="cardGrid">
    <div class="row-fluid">
    	{{#each rows}}
    		<div class="row-fluid">
    			{{#if rowFirst}}
    				{{> newPostCard}}
    			{{/if}}
	    		{{#each cells}}
                    {{#if isFlipped}}
	    			    {{> postCard}}
                    {{else}}
                        {{> flippedCard}}
                    {{/if}}
	    		{{/each}}
	    		{{#if rowLast}}
	    			{{> loadMoreCard}}
	    		{{/if}}
	    	</div>
    	{{/each}}
    </div>
</template>