<template name="timeline">
    {{> cardGrid options}}
</template>

<template name="followers">
    {{> cardGrid options}}
</template>

<template name="following">
    {{> cardGrid options}}
</template>

<template name="userPosts">
    {{> cardGrid options}}
</template>

<template name="userSearch">
    {{> cardGrid options}}
</template>

<template name="cardGrid">
	{{#if showCompose}}
		{{> newPostCard}}
	{{/if}}

    {{#if showUserCard}}
        {{> userCard thisUser}}
    {{/if}}

    {{#if usesTemplate 'postCard'}}
        {{#each cells}}
            {{> postCard}}
        {{/each}}
    {{/if}}

    {{#if usesTemplate 'userCard'}}
        {{#each cells}}
            {{> userCard}}
        {{/each}}
    {{/if}}

    {{#if showLoadMore}}
        {{> loadMoreCard}}
    {{/if}}
</template>