<template name="viewers">
	<div class="viewer-container">
		<p class="viewer-seen-by"><i>Seen by<i></p>
		<div class="viewer-images">
			<img class="viewer-img" src="/img/horse.jpg" />
			<img class="viewer-img" src="/img/horse.jpg" />
			<img class="viewer-img" src="/img/horse.jpg" />
			<img class="viewer-img" src="/img/horse.jpg" />
			<img class="viewer-img" src="/img/horse.jpg" />
			<img class="viewer-img" src="/img/horse.jpg" />
			<img class="viewer-img" src="/img/horse.jpg" />
			<img class="viewer-img" src="/img/horse.jpg" />
			<img class="viewer-img" src="/img/horse.jpg" />
			<img class="viewer-img" src="/img/horse.jpg" />
			<img class="viewer-img" src="/img/horse.jpg" />
			<img class="viewer-img" src="/img/horse.jpg" />
			<img class="viewer-img" src="/img/horse.jpg" />
			<img class="viewer-img" src="/img/horse.jpg" />
			<img class="viewer-img" src="/img/horse.jpg" />
			<img class="viewer-img" src="/img/horse.jpg" />
			<img class="viewer-img" src="/img/horse.jpg" />
			<img class="viewer-img" src="/img/horse.jpg" />
			<img class="viewer-img" src="/img/horse.jpg" />
			<img class="viewer-img" src="/img/horse.jpg" />								
		</div>
	</div>
</template>