<template name="chat">
	<div class="row-fluid">
		<input type="text" placeholder="Compose..." class="span10 offset1" />
	</div>
	<div class="row-fluid">
		<div class="well chat-feed span10 offset1">
			<div class="chat-row"><img class="chat-user-img" src="/img/horse.jpg"/><a class="user-link">Horse_ebooks</a> Cool chats!</div>
			<div class="chat-row" style="text-align:right"><img class="chat-user-img" src="/img/face.jpg"/><a class="user-link">ajcarpenter</a> Yeah dude! </div>
			<div class="chat-row"><img class="chat-user-img" src="/img/horse.jpg"/><a class="user-link">Horse_ebooks</a> Cool chats!</div>
			<div class="chat-row" style="text-align:right"><img class="chat-user-img" src="/img/face.jpg"/><a class="user-link">ajcarpenter</a> Yeah dude! </div>
			<div class="chat-row"><img class="chat-user-img" src="/img/horse.jpg"/><a class="user-link">Horse_ebooks</a> Cool chats!</div>
			<div class="chat-row" style="text-align:right"><img class="chat-user-img" src="/img/face.jpg"/><a class="user-link">ajcarpenter</a> Yeah dude! </div>
			<div class="chat-row"><img class="chat-user-img" src="/img/horse.jpg"/><a class="user-link">Horse_ebooks</a> Cool chats!</div>
			<div class="chat-row" style="text-align:right"><img class="chat-user-img" src="/img/face.jpg"/><a class="user-link">ajcarpenter</a> Yeah dude! </div>
			<div class="chat-row"><img class="chat-user-img" src="/img/horse.jpg"/><a class="user-link">Horse_ebooks</a> Cool chats!</div>
			<div class="chat-row" style="text-align:right"><img class="chat-user-img" src="/img/face.jpg"/><a class="user-link">ajcarpenter</a> Yeah dude! </div>												
		</div>
	</div>
</template>