<template name="chat">
	<div class="row-fluid">
		<input type="text" placeholder="Chat..." class="chat-input span10 offset1" />
	</div>
	<div class="row-fluid">
		<div class="well chat-feed span10 offset1">
			{{#each replies}}
				<div class="{{_class}}"><img class="chat-user-img" src="/img/horse.jpg"/><a class="user-link">{{author}}</a> {{message}}</div>
			{{/each}}
			{{#if hasNoReplies}}
				<div class="passive-aggressive">Boy... it's quiet in here.</div>
			{{/if}}								
		</div>
	</div>
</template>